
body{
    background-color: black;
}

.game{
    display: none;
}

.option{
    margin: 25px;
    font-size: 65px;
}
.optionsChoice{
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.boardContainer{
    display: flex;
    justify-content: center;
    margin: 1em;
    
}

.board{
    display: grid;
    border: solid black 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    height: 70vh;
  
}

button{
    background-color: black;
    border: solid white 5px;
    color: Yellow;
    font-size: 40px;
}


.show-btn{
    margin-left: 15px
}