.title{
    text-align: center;
    font-size: 50px;
}

.boardContainer{
    display: flex;
    justify-content: center;
    margin: 1em;
    
}

.board{
    display: grid;
    border: solid black 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    height: 70vh;
  
}

button{
    background-color: white;
    color: red;
    font-size: 40px;
}
